{
  "root": true,

  "plugins": [
    "react",
    "compat"
  ],

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "env": {
    "es6": true
  },

  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "script"
  },

  "rules": {
    // Warning (disable if auto-formatting with Prettier)
    "quotes": [1, "single", { "allowTemplateLiterals": true }],
    "max-len": [1, { "code": 100, "ignoreUrls": true }],
    "arrow-parens": [1, "as-needed"],
    "arrow-spacing": 1,
    "brace-style": [1, "1tbs", { "allowSingleLine": false }],
    "eol-last": 1,
    "indent": [1, 2, { "SwitchCase": 1 }],
    "key-spacing": [1, { "mode": "strict" }],
    "keyword-spacing": 1,
    "no-extra-semi": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-multi-spaces": [1, {
      "exceptions": {
        "VariableDeclarator": true,
        "ImportDeclaration": true,
        "ImportSpecifier": true,
        "AssignmentExpression": true,
        "ClassProperty": true
      }
    }],
    "no-multiple-empty-lines": [1, { "max": 1 }],
    "no-trailing-spaces": 1,
    "object-curly-spacing": [1, "always"],
    "operator-linebreak": [1, "after", { "overrides": { "?": "before", ":": "before" } }],
    "semi": [1, "always"],
    "semi-spacing": [1, {"before": false, "after": true}],
    "semi-style": [1, "last"],
    "space-before-blocks": [1, "always"],
    "switch-colon-spacing": [1, {"before": false, "after": true}],
    "func-call-spacing": [1, "never"],
    "function-paren-newline": [1, "multiline"],

    "react/jsx-closing-bracket-location": [1, "line-aligned"],
    "react/jsx-closing-tag-location": 1,
    "react/jsx-equals-spacing": [1, "never"],
    "react/jsx-indent": [1, 2],
    "react/jsx-tag-spacing": [1, {
      "closingSlash": "never",
      "beforeSelfClosing": "always",
      "afterOpening": "never"
    }],
    "react/jsx-wrap-multilines": [1, {
      "declaration": false,
      "assignment": false,
      "return": true
    }],

    // Warning
    "array-callback-return": 1,
    "curly": [1, "all"],
    "eqeqeq": [1, "always"],
    "linebreak-style": [1, "unix"],
    "lines-between-class-members": [1, "always", {"exceptAfterSingleLine": true}],
    "line-comment-position": [1, "above"],
    "newline-after-var": [1, "always"],
    "newline-before-return": 1,
    "no-console": 0,
    "no-constant-condition": [1, {"checkLoops": false}],
    "no-debugger": 1,
    "no-else-return": 1,
    "no-inline-comments": 1,
    "no-multi-assign": 1,
    "no-multi-str": 1,
    "no-nested-ternary": 1,
    "no-return-assign": 1,
    "no-undef": 1,
    "no-unneeded-ternary": [1, { "defaultAssignment": false }],
    "no-unreachable": 1,
    "no-unused-vars": [1, { "vars": "all", "args": "after-used" }],
    "no-useless-constructor": 1,
    "no-var": 1,
    "no-warning-comments": [1, { "terms": ["fixme", "todo", "hack", "review", "xxx"] }],
    "no-return-await": 1,
    "no-throw-literal": 1,
    "require-await": 1,
    "padding-line-between-statements": [
      1,
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": ["const", "let"], "next": "*"},
      { "blankLine": "any",    "prev": ["const", "let"], "next": ["const", "let"]}
    ],
    "prefer-arrow-callback": 1,
    "prefer-const": 1,
    "spaced-comment": [1, "always", { "exceptions": ["-"] }],

    // React

    // Disabled
    "react/forbid-elements": 0,
    "react/forbid-prop-types": [0, { "forbid": ["any", "array", "object"] }],
    "react/no-array-index-key": 0,
    "react/no-danger": 0,
    "react/no-set-state": 0,
    "react/no-unused-state": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "react/sort-prop-types": 0,
    "react/require-optimization": 0,
    "react/style-prop-object": 0,

    "react/jsx-curly-spacing": [0, "always", { "allowMultiline": true }],
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-indent-props": [0, 2],
    "react/jsx-key": 0,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-comment-textnodes": 0,
    "react/jsx-no-literals": 0,
    "react/jsx-sort-props": 0,

    // Warning
    "react/boolean-prop-naming": 1,
    "react/default-props-match-prop-types": 1,
    "react/forbid-component-props": [1, { "forbid": ["className", "style"] }],
    "react/forbid-foreign-prop-types": 1,
    "react/no-children-prop": 1,
    "react/no-danger-with-children": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-will-update-set-state": 1,
    "react/no-multi-comp": [1, { "ignoreStateless": true }],
    "react/no-redundant-should-component-update": 1,
    "react/no-string-refs": 1,
    "react/no-typos": 1,
    "react/no-unescaped-entities": [1, {"forbid": [">", "}"]}],
    "react/no-unused-prop-types": 1,
    "react/prefer-es6-class": [1, "always"],
    "react/prefer-stateless-function": [1, { "ignorePureComponents": true }],
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": [1, {
      "order": [
        "static-methods",
        "lifecycle",
        "/^on.+$/",
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
        "everything-else",
        "/^render.+$/",
        "render"
      ]
    }],
    "react/void-dom-elements-no-children": 1,

    "react/jsx-boolean-value": [1, "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-no-bind": [1, {
      "ignoreRefs": true,
      "allowArrowFunctions": true
    }],
    "react/jsx-no-target-blank": 1,
    "react/jsx-pascal-case": 1,

    // eslint-plugin-compat
    "compat/compat": 1
  },

  // Override config (only applied to files that match the given globs)
  "overrides": [
    // All JS except inside `app`
    {
      "files": ["!app/**/*.js"],
      "env": {
        "node": true
      },
      "rules": {
        "strict": [1, "global"]
      }
    },

    // JS files inside `app`
    {
      "files": ["app/**/*.js"],
      "env": {
        "browser": true
      },
      "globals": {
        "process": true,
        "module": true
      },
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {
        "strict": [1, "never"]
      }
    },

    // Test files
    {
      "files": ["**/*.spec.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
